<div class = "col-md-12 travel-filter-div">
  <div class = "row travel-selected-form">
    <div class = "col-md-2"></div>
    <div class = 'col-md-8 travel-place-selected-div'>
      <input type="text" class="form-control input-width travel-place-selected" id ="travelPlaceSelected" value="Bangalore">
      <select class="form-control input-lg travel-activity-selected" id="travelActivitySelected">
          <option>cave mounting</option>
      </select>
    </div>
    <div class = "col-md-2"></div>
</div>
</div>
